<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="example-container">
      <mat-form-field hintLabel="Max 10 characters" appearance="fill">
        <mat-label>Enter some input</mat-label>
        <input matInput #input maxlength="10" placeholder="Produit" />
        <mat-hint align="end">{{ input.value?.length || 0 }}/10</mat-hint>
      </mat-form-field>
      <mat-form-field hintLabel="Max 10 characters" appearance="fill">
        <mat-label>Enter some input</mat-label>
        <input matInput #input maxlength="10" placeholder="Code" />
        <mat-hint align="end">{{ input.value?.length || 0 }}/10</mat-hint>
      </mat-form-field>
    </div>

    <mat-selection-list #shoes [multiple]="false">
      <mat-list-option *ngFor="" [value]=""> </mat-list-option>
    </mat-selection-list>

    <p>Option selected:</p>
  </body>
</html>
